<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .success {
            border: 2px solid green;
            color: rgb(70, 185, 189);
            border-radius: 5px;
        }
        .error {
            border: 2px solid red;
            color: rgb(70, 185, 189);
            border-radius: 5px;
        }
    </style>
</head>
<body>
    {% load static %}
    <div class="jumbotron mb-0" style="min-height: 100vh; display: flex; align-items: center;">
        <div class="container">
            <div class="row">

                {% if messages %}
                <div class="col-12 mb-5">
                    <div class="d-flex justify-content-center">
                    {% for message in messages %}
                        <p class="{{message.tags}} p-3" >{{ message }}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="col-12 mb-4">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'phish/Logo.png' %}" alt="Logo" width="250" height="110"> 
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="d-flex justify-content-center">
                        <form class="w-75" action="{% url 'phish:check_phish' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" name="input_url" id="url">                                    
                                </div>
                                <div class="col-2">
                                    <input type="submit" class="btn btn-primary mb-2" value="Is It Phish">
                                </div>
                            </div>
                        </form>
                    </div>         
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>